<!doctype html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body class="h-100 d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <span class="navbar-brand badge badge-light" style="cursor: default; font-size: 24px">Cine <b class="text-danger">Movie</b></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                }

                @if (User.IsInRole("Client"))
                {
                    <li class="nav-item">@Html.ActionLink("Rent Movie", "rentmovie", "movies", null, new { @class = "nav-link btn btn-sm rounded-pill btn-primary" })</li>

                    <li class="nav-item">@Html.ActionLink("Reserved movies", "reservedmovies", "movies", null, new { @class = "nav-link" })</li>

                    <li class="nav-item">@Html.ActionLink("Rented movies", "clientrentedmovies", "movies", null, new { @class = "nav-link" })</li>
                }

                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">@Html.ActionLink("Rent Movie", "rentmovie", "movies", null, new { @class = "nav-link" })</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Movie Configuration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Add movie", "movie", "home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Movie Manager", "index", "movies", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Reserved Movies Manager", "adminreservedmovies", "movies", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Rented Movies Manager", "rentedmovies", "movies", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    @{
        var ActualUrl = Request.Url.AbsolutePath.ToLower();

        var classContainer = ActualUrl == Url.Content("~/home") || ActualUrl == Url.Content("~/") || ActualUrl == Url.Content("~/home/index") ? "" : "container";
    }
    <div id="renderBody" class="@classContainer mb-5">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small mt-auto unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="list-inline-item">
                        <h5 class="mb-1">Register for free</h5>
                    </li>
                    <li class="list-inline-item">
                        @Html.ActionLink("Sign up!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-outline-white btn-rounded" })
                    </li>
                }
            </ul>
            <!-- Call to action -->
        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright:
            <span> Cine Movie inc.</span>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal"
         aria-hidden="true">
        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Cart <i class="fas fa-shopping-cart"></i></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalCardBody" class="modal-body">
                    <!--PARTIAL RENDERED-->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-indigo" data-dismiss="modal">Close</button>
                    <a href="@Url.Action("ReserveMovies", "Movies")" class="btn btn-amber">Reserve all</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

        $('a#cart').click(function () {
            $.get('@Url.Action("GetUsersCartMovies", "Movies")', null, function (data) {
                $('#modalCardBody').html(data);
            }).fail(function () {
                alert("fail while getting movies from the cart");
            });

            $('#cartModal').modal('show');
        });

        $(document).on('click', '.smallRemoveFromCart', function () {

            const movieid = $(this).data('movieid');

            $.post('@Url.Action("RemoveFromCart", "Movies")', { movieid: movieid }, function (data) {
                if (data.success) {
                    $('#media-' + movieid).fadeOut(150);
                    if (data.moviecount == '0') {
                        $('#cartMovieCount').remove();
                    }
                    $('#cartMovieCount').text(data.moviecount);
                }
            }).fail(function () {
                alert("fail while removing movie from cart")
            })
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
