@using Microsoft.AspNet.Identity
@using CineMovie.Models

@{
    using (ApplicationDbContext db = new ApplicationDbContext())
    {
        var userId = User.Identity.GetUserId();
        Session["CartMovieCount"] = db.RentCarts.Where(x => x.UserId == userId).Count();
    }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <!-- CART -->
            @if (User.IsInRole("Client"))
            {
                <li id="cartItem" class="nav-item d-flex">
                    <a id="cart" class="nav-link pr-1">Cart <i class="fas fa-shopping-cart"></i></a>
                    @if ((int)Session["CartMovieCount"] > 0)
                    {
                        <span id="cartMovieCount" style="font-size: 11px;" class="badge badge-danger rounded mb-auto">
                            @Session["CartMovieCount"]
                        </span>
                    }

                </li>
            }
            <!-- USER MANAGEMENT -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName()!</a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "Manage")">Account setting</a>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Users", "Manage")">Users</a>
                        <a class="dropdown-item" href="@Url.Action("Roles", "Manage")">Roles</a>
                    }
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item"><a id="loginLink" class="nav-link" data-toggle="modal" data-target="#loginModal">Login</a></li>
    </ul>
}