@model CineMovie.ViewModels.MoviesPaginationViewModel

<div class="card">
    <div class="card-header">
        @using (Html.BeginForm())
        {
            <div class="input-group" style="max-width: 250px">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search movie by title..." })
            </div>
        }
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            if (Model.Movies.Count() > 0)
            {
                <div class="row">
                    @for (int i = 0; i < Model.Movies.Count(); i++)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="card h-100">
                                <img src="@Model.Movies.ElementAt(i).Poster" class="card-img-top w-100" alt="Image not found">
                                <div class="card-body d-flex align-items-end">
                                    @if (User.IsInRole("Client"))
                                    {
                                        <button data-moviename="@Model.Movies.ElementAt(i).Title" data-movieid="@Model.Movies.ElementAt(i).ImdbID" class="btnAddCart btn mt-auto btn-sm btn-block btn-amber mt-auto">Add to cart <i style="transform: rotate(-30deg)" class="ml-1 fas fa-shopping-cart"></i></button>
                                    }
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        Rent price: @Model.Movies.ElementAt(i).RentPrice.ToString("C", System.Globalization.CultureInfo.CurrentCulture)
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-warning">@ViewBag.FilterNotFoundMovies</div>
            }
        }
    </div>
    <div class="card-footer">
        @{Html.RenderPartial("_Pagination", Model);}
    </div>
</div>


<style>
    #toast-container > div {
        opacity: 1;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    }
</style>


@section scripts
{
    <script>
        $(document).on('click', '.btnAddCart', function () {

            const movieid = $(this).data('movieid');
            const moviename = $(this).data('moviename');

            if ($('#cartMovieCount').length == 0) {
                $('#cartItem').append(`<span id="cartMovieCount" style="font-size: 11px;" class="badge badge-danger rounded mb-auto"></span>`);
            }

            $.post('@Url.Action("AddMovieToCart")', { movieid: movieid, moviename: moviename }, function (data) {
                if (data.result == 'inCart') {
                    toastr.options = { "positionClass": "toast-bottom-left", "preventDuplicates": true };
                    Command: toastr["warning"](`${data.moviename} already in <span style="font-size:16px" class="badge badge-dark">cart <i class="fas fa-shopping-cart"></i></span>`, "");
                } else if (data.result == 'inReserve') {
                    toastr.options = { "positionClass": "toast-bottom-left", "preventDuplicates": true };
                    Command: toastr["warning"](`${data.moviename} already <span style="font-size:16px" class="badge badge-dark">Reserved <i class="far fa-clock"></i></span>`, "");
                } else if (data.result == 'inRent') {
                    toastr.options = { "positionClass": "toast-bottom-left", "preventDuplicates": true };
                    Command: toastr["warning"](`${data.moviename} already <span style="font-size:16px" class="badge badge-dark">Rented <i class="fas fa-film"></i></span>`, "");
                } else {
                    toastr.options = { "positionClass": "toast-bottom-left", "preventDuplicates": true };
                    Command: toastr["info"](`${data.moviename} <span class="badge badge-success" style="font-size:16px">added to cart <i class="far fa-check-circle"></i></span>`, "");
                    if (data.moviecount != '0')
                        $('#cartMovieCount').text(data.moviecount);
                }
            }).fail(function () {

            })
        });
    </script>
}